<h1>Welcome to the Praxis Tutors ISEE Vocab Website!</h1>
<p>This site is dedicated to helping you learn all of the words you need to know for the ISEE and SSAT. Use it every day and you'll be set.</p>
<p>This site will help you:</p>
<ol>
  <li>Learn the definitions of all the words you will need to know for the ISEE and SSAT.</li>
  <li>Keep those words in your long term memory.</li>
</ol>
<form>
  <p>Log In</p>
  <p>Please input name and password</p>
  <label for="emailtag">Email: </label>
    <input id = "emailtag" type="email" name="useremail" value="Example@email.com">
  <br>
  <label for="passwordtag">Password: </label>
    <input id = "passwordtag" type="password" name="userpassword" value="PASSWORD">
  <br>
  <input type="submit" name="" value="Enter">
</form>
<p>Click here to register for the ISEE:</p>
<a href="https://iseeonline.erblearn.org/">ISEE Settings Page</a>

<a href="#">Settings Page</a>
<p>This page contains concepts through Udemy lesson lists</p>
