{% extends "base.html" %}

{% block content %}

<h1>Today's Flashcards</h1>

<h3>You have {{todays_list.shape[0]}} flashcards left.</h3>

<div class="card">
  <div class="card-header">
    Word
  </div>
  <div class="card-body">
    <h5 class="card-title">Instructions/definition</h5>
  </div>
</div>
<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-danger">Wrong</button>
  <button type="button" class="btn btn-warning">Right</button>
  <button type="button" class="btn btn-success">Mastered</button>
</div>



{% endblock %}
