{% extends "base.html" %}

{% block content %}

<h1>Today's Word List</h1>

<div class="card">
  <div class="card-body">
    <p>text on top</p>

<table class="table table-striped">
  <tr>

      <th scope="col">Word</th>
      <th scope="col">Definition</th>

    </tr>




  <tbody>
    {% for key,value in todays_list.iterrows()  %}

    <tr>
      <th scope='col'>{{value['Word']}}</th>
      <th scope='col'>{{value['Definition']}}</th>
      <th scope='col'>{{use_word(value['Word'])}}</th>
    </tr>
    {% endfor %}


  </div>
</div>

  </tbody>



</table>




{% endblock %}
